.tech-logo-div{
    max-height: 50px;
    max-width: 50px;
}

.tech-logo-container{
    height: 100%;
    width: 100%;
}

.tech-logo-container{
    aspect-ratio: 1,1;
}

.tech-logo {
  width: 100%;
  height: 100%;
  object-fit: contain;
}