.contact-container {
  display: flex;
  justify-content: center;
  align-items: center;
  height: calc(80vh - 80px);
}

.contact-form {
  width: 100%;
  padding: 0.5rem;
}

.name-section,
.email-section,
.message-section {
  margin-bottom: 1rem;
}

.name-input,
.email-input,
.message-input {
  width: 100%;
  padding: 0.75rem;
  background-color: #2A3B41;
  border: none;
  border-radius: 0.25rem;
  color: white;
}

.message-input {
  min-height: 300px;
  resize: vertical;
}

::placeholder {
  color: #7f8c8d;
}