.footer-body {
  padding-top: 1.5rem;
  padding-bottom: 1.5rem;
  margin-top: 2rem;
  background-color: #2A3B41;
}

.footer-container {
  max-width: 1200px;
  margin-left: auto;
  margin-right: auto;
  padding-left: 1rem;
  padding-right: 1rem;
  text-align: center;
}

.social-links {
  display: flex;
  justify-content: center;
  gap: 1.5rem;
  margin-bottom: 1rem;
}

.social-link {
  color: white;
  text-decoration: none;
  transition: color 0.3s ease;
}

.social-link:hover {
  color: #B9530A
}

.copyright-text {
  font-size: 0.875rem;
  color: #4b5563;
}