@tailwind base;
@tailwind components;
@tailwind utilities;

body {
  @apply bg-gray-100 text-gray-900;
  background-color: #435A4D;
}

.skills-category-links {
  display: flex;
  justify-content: center;
  gap: 1rem;
  margin-bottom: 2rem;
}

.category-link {
  padding: 0.5rem 1rem;
  background-color: #2A3B41;
  color: white;
  text-decoration: none;
  border-radius: 0.25rem;
  transition: background-color 0.3s ease;
}

.category-link:hover {
  background-color: #B9530A;
}

.skills-grid {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  gap: 1rem;
  padding: 1rem;
  grid-auto-rows: 1fr;
  border-radius: 0.5rem;
}

.bio-paragraph {
  font-size: 1.2rem;
  line-height: 1.6;
  margin-bottom: 2rem;
  padding: 1rem;
  background-color: #779F7F;
  border-radius: 2rem;
  color: #e0e0e0;
}

.greeting {
  font-size: 2rem;
  line-height: 1.6;
  margin-bottom: 2rem;
  padding: 1rem;
  border-radius: 2rem;
  color: #e0e0e0;
}

.hidden-skill {
  color: #B9530A;
  cursor: pointer;
  transition: color 0.3s ease;
  text-decoration: none;
  background: linear-gradient(to right, #B9530A 0%, #B9530A 100%);
  background-size: 0 2px;
  background-repeat: no-repeat;
  background-position: left bottom;
  transition: background-size 0.3s ease;
}

.hidden-skill:hover {
  background-size: 100% 2px;
}

.header-section {
  display: flex;
  align-items: center;
  gap: 2rem;
  margin-bottom: 2rem; 
}

.picture-div {
  width: 200px;
  height: 200px;
  border-radius: 50%;
  overflow: hidden;
  border: 8px solid #779F7F;
  flex-shrink: 0;
}

.picture {
  width: 100%; 
  height: 100%;
  object-fit: cover;
}

.greeting {
  font-size: 2.5rem;
  color: white;
  margin-bottom: -2rem;
}

.home-container {
  display: grid;
  grid-template-columns: 1fr;
  gap: 2rem;
  padding: 2rem;
}

@media (min-width: 700px) {
  .skills-grid {
    width: 100%;
    grid-template-columns: repeat(3, 1fr);
    grid-auto-rows: 1fr;
  }
}

@media (min-width: 1024px) {
  .skills-grid {
    width: 100%;
    grid-template-columns: repeat(4, 1fr);
    grid-auto-rows: 1fr;
  }
}

@media (min-width: 1300px) {
  .home-container {
    grid-template-columns: 1fr 1fr;
    align-items: start;
    gap: 1rem;
  }

  .about-section {
    padding-right: 2rem;
  }

  .header-section {
    display: flex;
    align-items: center;
    gap: 2rem;
    margin-bottom: 2rem; 
  }

  .skills-grid {
    width: 100%;
    grid-template-columns: repeat(3, 1fr);
    grid-auto-rows: 1fr;
  }
}